@using TaskoMask.BuildingBlocks.Contracts.Dtos.Projects
@using TaskoMask.BuildingBlocks.Contracts.Dtos.Cards

<nav aria-label="breadcrumb">
    <ol class="breadcrumb justify-content-start p-3" style="flex-wrap: nowrap !important; overflow-x: auto !important; overflow-y: auto !important;">

        <li class="text-nowrap breadcrumb-item">
            <i class="bi bi-building"></i>
            <a href="@("/#"+Model.OrganizationId)">
                @Model.OrganizationName
            </a>
        </li>
        <li class="text-nowrap breadcrumb-item">
            <i class="bi bi-kanban"></i>
            <a href="@("/project/"+Model.Id)">
                @Model.Name
            </a>
        </li>
        <li class="text-nowrap breadcrumb-item active" aria-current="page">
            <i class="bi bi-card-list"></i>
                boards
        </li>
    </ol>
</nav>


@code {
    [Parameter]
    public GetProjectDto Model { get; set; }

  
}
