@model TaskoMask.Application.Core.Helpers.PublicPaginatedListReturnType<TaskoMask.Application.Core.Dtos.Workspace.Boards.BoardOutputDto>
@{
    ViewBag.Title = "Boards List";
}

<div class="grid-content">
    <div class="block">
        <div class="block-bar">
            <form class="form" asp-action="search" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#ajax-show-list">
                <input name="term" id="term" type="text" value="" placeholder="..." />
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
        <div id="ajax-show-list">
            @await Html.PartialAsync("_ItemList", Model.Items)
        </div>
    </div>
</div>


@section scripts{

}