

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="bi bi-building"></i>
            Organization Name
        </li>
        <li class="breadcrumb-item">
            <i class="bi bi-kanban"></i>
            Project Name
        </li>
        <li class="breadcrumb-item">
            <i class="bi bi-clipboard-plus"></i>
            Board Name
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="#">
                <i class="bi bi-card-list"></i>
                New Card
            </a>
        </li>
    </ol>
</nav>


@code {

}
