@using TaskoMask.Application.Share.Dtos.Workspace.Boards

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="bi bi-building"></i>
            @Model.OrganizationName
        </li>
        <li class="breadcrumb-item">
            <i class="bi bi-kanban"></i>
           @Model.ProjectName
        </li>
        <li class="breadcrumb-item">
            <i class="bi bi-clipboard-plus"></i>
          @Model.Name
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="#">
                <i class="bi bi-card-list"></i>
                New Card
            </a>
        </li>
    </ol>
</nav>


@code {
    [Parameter]
    public BoardOutputDto Model { get; set; }
}
