@using TaskoMask.Application.Share.Dtos.Workspace.Tasks
@inject TaskoMask.Presentation.UI.UserPanel.Services.DragDrop.IDragDropService DragDropService

@foreach (var item in Model)
{
    <a @onclick="@(()=>ShowDetailsModal(item.Id))" class="text-black">
        <div class="rounded border p-3 mb-2 bg-light task-item" draggable="true" ondragstart="@(() => HandleDragStart(item.Id))">
            @item.Title
        </div>
    </a>
}

@code {

    [Parameter]
    public IEnumerable<TaskBasicInfoDto> Model { get; set; }

    [Parameter]
    public string CardId { get; set; }




    /// <summary>
    ///
    /// </summary>
    private void ShowDetailsModal(string taskId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Tasks.Components.Details.TaskId), taskId);
        ModalService.Show<Pages.Tasks.Components.Details>("Task Details", parameters, new ModalOptions { DisableBackgroundCancel = true, ContentScrollable = true, Class = "blazored-modal w-100 h-100" });
    }



    /// <summary>
    ///
    /// </summary>
    private void HandleDragStart(string taskId)
    {
        DragDropService.SetDraggedData(taskId);
    }



}
