@using TaskoMask.Application.Share.Dtos.Workspace.Tasks
@inject TaskoMask.Presentation.UI.UserPanel.Services.DragDrop.IDragDropService DragDropService

<ul class="list-group list-group-flush">

    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <li class="list-group-item" draggable="true" ondragstart="@(() => HandleDragStart(item.Id))">
                <a @onclick="@(()=>ShowDetailsModal(item.Id))" class="text-black">
                    <div>
                        @item.Title
                    </div>
                </a>
            </li>
        }
    }
</ul>


@code {

    [Parameter]
    public IEnumerable<TaskBasicInfoDto> Model { get; set; }

    [Parameter]
    public string CardId { get; set; }




    /// <summary>
    ///
    /// </summary>
    private void ShowDetailsModal(string taskId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Tasks.Components.Details.TaskId), taskId);
        ModalService.Show<Pages.Tasks.Components.Details>("Task Details", parameters, new ModalOptions { DisableBackgroundCancel = true, ContentScrollable=true ,Class="blazored-modal w-75 h-75"});
    }



    /// <summary>
    ///
    /// </summary>
    private void HandleDragStart(string taskId)
    {
        DragDropService.SetDraggedData(taskId);
    }



}
