@model TaskoMask.Application.ViewMoldes.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="cover-heading">Register and start!</h1>
<p class="lead">
    Input your Basic information and press register button then login.
</p>
<hr />

@await Component.InvokeAsync(nameof(DomainValidationSummary))

<form asp-action="Register">
    <div class="form-group">
        <input asp-for="DisplayName" class="form-control" placeholder="DisplayName" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
