@model TaskoMask.Application.Core.Dtos.TaskManagement.Cards.CardUpsertDto

@{
    ViewData["Title"] = "Create";
}


<h4>Create Card</h4>
<hr />

@await Html.PartialAsync("_SaveForm", Model)




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
