@model TaskoMask.Application.Core.Dtos.Workspace.Cards.CardUpsertDto

@{
    ViewData["Title"] = "Update";
}

<h4>Update Card</h4>
<hr />

@await Html.PartialAsync("_SaveForm", Model)



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
