@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TaskoMask:@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/content/css/admin.min.css" rel="stylesheet" />
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .refresh-btn {
            color: #ff0000;
            background-image: url(/content/img/refresh.svg);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
        }

    </style>
</head>
<body class="theme-black">
    <div class="center wrapper">
        @RenderBody()
    </div>
    <script src="~/content/js/admin.min.js"></script>
</body>
</html>