################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
[Bb]in/
[Oo]bj/
/Web/Web.csproj.user
/Web/Properties/PublishProfiles
/Web.Admin/Properties/PublishProfiles
