################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/obj
/*/bin
/Web/Web.csproj.user
/Web/Properties/PublishProfiles
/Web.Admin/Properties/PublishProfiles
