.blazored-toast-container {
    z-index: 200 !important;
}


#footer p {
    font-size: .75rem;
}

.card-min-width {
    height: 9rem !important;
}

.bg-light-gray {
    background-color: #ededed !important;
}

.task-card {
    min-height: 9rem !important;
}

.task-item {
  
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
}

    .task-item:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

.card-hover:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
