@model TaskoMask.Application.Share.Helpers.PaginatedListReturnType<TaskoMask.Application.Share.Dtos.Ownership.Permissions.PermissionOutputDto>
@{
    ViewBag.Title = "Permissions List";
}

<div class="grid-content">
    <div class="block">
        <div class="block-bar">
            <form class="form" asp-action="search" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#ajax-show-list">
                <a href="@Url.Action("Create", "Permissions", new { })" class="btn btn-success">New Permission</a>

                @Html.DropDownList("GroupName", null, "All Groups", new { @class = "" })

                <input name="term" id="term" type="text" value="" placeholder="..." />
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
        <div id="ajax-show-list">
            @await Html.PartialAsync("_ItemList", Model.Items)
        </div>
    </div>
</div>


@section scripts{

}