@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskoMask: @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/panel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>

    @await Html.PartialAsync("_LoginPartial");

    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                <p>Developed by <a href="https://github.com/hamed-shirbandi" target="_blank">Hamed Shirbandi</a>. Find the source on  <a href="https://github.com/hamed-shirbandi/TaskoMask" target="_blank">GitHub</a></p>
            </span>
        </div>
    </footer>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/panel.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
