@{
    var errors = new List<string>();
    if (ViewData["Errors"] != null)
        errors = (List<string>)ViewData["Errors"];

}

@if (ViewData["ErrorMessage"] != null)
{
    <div id="error-alert" class="alert alert-danger">
        <h6>@ViewData["ErrorMessage"]</h6>
        @if (errors.Count > 0)
        {
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        }
    </div>
}