@page
@model TaskoMask.Services.Identity.Api.Pages.Account.Logout.Index

<h3 class=" py-2 ">logout of TaskoMask!</h3>
<div class="px-2">
    <form asp-page="/Account/Logout/Index">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />

        <div class="form-group">
            <button class="btn btn-primary">Logout</button>
        </div>
    </form>
</div>