@page
@model TaskoMask.Services.Identity.Api.Pages.Logout.LoggedOut

<h3 class=" py-2 ">Logout!</h3>
<div class="px-2">
    You are now logged out
</div>


@section scripts
{
    @if (Model.View.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}