@{ ViewData["Title"] = "Locked out"; }

<div class="alert alert-danger">
    <h2 class="text-danger">Your account is locked out!</h2>
    <hr />
    <p class="lead text-danger">This account has been locked out, please try again later.</p>

</div>

