@model TaskoMask.Application.Core.Dtos.Members.MemberRegisterDto
@{
    ViewData["Title"] = "Register";
}

<h1 class="cover-heading">Register and start!</h1>
<p class="lead">
    Input your Basic information and press register button then login.
</p>
<hr />

@await Component.InvokeAsync(nameof(DomainValidationSummary))

<form asp-action="Register">

    @Html.AntiForgeryToken()

    <div class="form-group">
        <input asp-for="DisplayName" class="form-control" placeholder="DisplayName" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <dnt-captcha asp-captcha-generator-max="2000"
                     asp-captcha-generator-min="1"
                     asp-captcha-generator-language="English"
                     asp-captcha-generator-display-mode="NumberToWord"
                     asp-use-relative-urls="true"
                     asp-placeholder="input the Number"
                     asp-validation-error-message="Please enter the text inside the image numerically"
                     asp-font-name="Tahoma"
                     asp-font-size="20"
                     asp-fore-color="#333333"
                     asp-back-color="#ccc"
                     asp-text-box-class="form-control"
                     asp-text-box-template="{0}"
                     asp-validation-message-class="text-danger"
                     asp-refresh-button-class="btn refresh-btn bg-light m-1" />

    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
