@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<NavMenu />
<main role="main" id="main">
    @Body

    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="8"
                    IconType="IconType.Material"
                    ErrorIcon=""
                    InfoIcon=""
                    SuccessIcon=""
                    WarningIcon=""
                    ShowProgressBar="true" />
</main>




