@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<NavMenu />
<main role="main" class="container">
    @Body

    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="8"
                    IconType="IconType.Material"
                    ErrorIcon=""
                    InfoIcon=""
                    SuccessIcon=""
                    WarningIcon=""
                    ShowProgressBar="true" />

</main>
<footer class="footer" id="footer">
    <div class="container">
      <p class="text-muted">Developed by <a href="https://github.com/hamed-shirbandi" target="_blank">Hamed Shirbandi</a>. Find the source on  <a href="https://github.com/hamed-shirbandi/TaskoMask" target="_blank">GitHub</a></p>
    </div>
</footer>


