@model TaskoMask.Application.Core.Dtos.Projects.ProjectInput

@{
    ViewData["Title"] = "Create";
}


<h4>Create Project</h4>
<hr />

@await Html.PartialAsync("_SaveForm", Model)




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
