@model TaskoMask.Application.Core.Dtos.Projects.ProjectInputDto

@{
    ViewData["Title"] = "Update";
}

<h4>Update Project</h4>
<hr />

@await Html.PartialAsync("_SaveForm", Model)



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
