@model TaskoMask.Application.Core.ViewModels.CardDetailsViewModel

@{
    ViewBag.Title = "Card Details";
}

<div class="grid-100 tablet-grid-100 mobile-grid-100">
    <div class="block">
        <div class="block-content no-pad">
            <ul class="tabs">
                <li class="tab"><a href="#tab-1" class="active">Basic Info</a></li>
            </ul>
        </div>

        <div id="tab-1">
            <div class="block-content">
                @await Html.PartialAsync("_BasicInfo", Model.Card)
            </div>
        </div>
    </div>
</div>




@section scripts{

}
