@page
@model TaskoMask.Services.Identity.Api.Pages.Account.Login.Index

<h3 class=" py-2 ">Login to TaskoMask!</h3>
<div class="px-2">
    <form asp-page="/Account/Login/Index">

        <partial name="_ValidationSummary" />
    
        <input type="hidden" asp-for="Input.ReturnUrl" />

        <div class="form-group">
            <input class="form-control" placeholder="UserName" asp-for="Input.UserName">
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="Password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" asp-for="Input.RememberLogin">
                <label class="form-check-label" asp-for="Input.RememberLogin">
                    Remember My Login
                </label>
            </div>
        </div>
        <div class="form-group">
            <button id="loginBtn" type="submit" class="btn btn-success">Login</button>
            @if (@ViewData["ClientUri"] is not null)
            {
                <a id="registerBtn" class="btn btn-outline-primary" href="@ViewData["ClientUri"]/register">Register</a>
            }
        </div>
    </form>
</div>