@page
@model TaskoMask.Services.Identity.Application.UseCases.UserLogin.UserLoginRequest

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>

                <div class="card-body">
                    <form asp-page="/Account/Login/Index">
                        <input type="hidden" asp-for="UserLoginRequest.ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="UserLoginRequest.Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="UserLoginRequest.Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserLoginRequest.Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="UserLoginRequest.Password" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="UserLoginRequest.RememberLogin">
                                <label class="form-check-label" asp-for="UserLoginRequest.RememberLogin">
                                    Remember My Login
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>