@{
    ViewData["Title"] = "Error";
}


<div class="alert alert-danger">
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <hr />
    <p class="text-danger">
        environment will display more detailed information about the error that occurred.
    </p>
</div>
