@model IEnumerable<TaskoMask.Application.Core.Dtos.Team.Organizations.OrganizationBasicInfoDto>
@{
    ViewData["Title"] = "Organizations list";
}

<h2>Organizations list</h2>
<div>
    @foreach (var item in Model)
    {
        <a href="@Url.Action(action:"index",controller:"projects",values:new { organizationId=item.Id})">@item.Name</a>
        <br />
    }
</div>
