@model TaskoMask.BuildingBlocks.Contracts.Dtos.Membership.Roles.RoleUpsertDto

@{
    ViewBag.Title = "Create Role";
}
<div class="grid-50 tablet-grid-50 mobile-grid-100">
    <div class="block">
        <div class="block-content">
            @await Html.PartialAsync("_SaveForm")

        </div>
    </div>
</div>


@section scripts{

}
