@model TaskoMask.BuildingBlocks.Contracts.Dtos.Membership.Operators.OperatorBasicInfoDto
@{
    var defaultUserImageUrl = Url.Content("~/content/img/default-user-avatar.jpg");
}
<ul class="nav-bar is-left nav-profile">
    <li>
        <a class="nav-profile-toggle" role="button" data-toggle="dropdown">
            <i class="fa fa-caret-down"></i>
            <span>@Model.DisplayName</span>
            <!-- Avatar -->
            <img src="@defaultUserImageUrl" />
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action(action: "update", controller: "operators", values: new { Area = "membership", id =Model.Id })">
                    <i class="si si-user"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="@Url.Action(action: "logout", controller: "account", values: new { Area = ""})">
                    <i class="si si-logout"></i>
                    logout
                </a>
            </li>
        </ul>
    </li>
</ul>