@model TaskoMask.Application.Share.ViewModels.OwnerDetailsViewModel

@{
    ViewBag.Title = "Owner Details";
}

<div class="grid-100 tablet-grid-100 mobile-grid-100">
    <div class="block">
        <div class="block-content no-pad">
            <ul class="tabs">
                <li class="tab"><a href="#tab-1" class="active">Basic Info</a></li>
                <li class="tab"><a href="#tab-2" class="">Organizations</a></li>
                <li class="tab"><a href="#tab-3" class="">Account Setting</a></li>
            </ul>
        </div>

        <div id="tab-1">
            <div class="block-content">
                @await Html.PartialAsync("_BasicInfo", Model.Owner)
            </div>
        </div>
        <div id="tab-2">
            <div class="block-content">
                <div class="block-title">
                    Owner organizations as an owner or as an invited owner
                </div>
                @await Html.PartialAsync("_Organizations", Model.Organizations)
            </div>
        </div>
        <div id="tab-3">
            <div class="block-content">
                @await Html.PartialAsync("_SetUserIsActive", new TaskoMask.Presentation.UI.AdminPanle.Models.SetUserActiveViewModel(id: Model.Owner.Id, isActive: Model.Owner.IsActive))
            </div>
        </div>
    </div>
</div>




@section scripts{

}
