@model TaskoMask.BuildingBlocks.Contracts.ViewModels.OperatorDetailsViewModel

    <div class="grid-50 tablet-grid-100 mobile-grid-100">
        <div class="table-responsive">
            <form class="form" asp-action="UpdateRoles" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="Post">
                @Html.AntiForgeryToken()

                <input type="hidden" name="id" value="@Model.Operator.Id" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><label> </label></th>
                            <th width="50"><label></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td>@role.Text</td>
                                <td><input type="checkbox" name="RolesId" value="@role.Value" checked=@(role.Selected == true ? "checked" : null ) /></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button type="submit" class="btn btn-primary">
                    Save Roles
                </button>
                <hr />
            </form>

        </div>
    </div>

