@{
    ViewData["Title"] = "Error";
}


<div class="user-login-wrapper vh-100 pt-5">
    <div class="user-cart-single cart mx-auto text-right p-3">
        <h3 class="mb-4 text-center">There is a problem with your request</h3>
        <div class="alert alert-danger">
            <h4>
                Sorry, your request was not enforceable
            </h4>
            <p>
                Please try again and report to technical support if you see this again.
            </p>
        </div>
    </div>
</div>