@model TaskoMask.Application.Share.ViewModels.RoleDetailsViewModel

@{
    ViewBag.Title = "Update Role";
}


<div class="grid-50 tablet-grid-50 mobile-grid-100">
    <div class="block">
        <div class="block-header">
            <h4>Basic Info</h4>
        </div>
        <div class="block-content">
            @await Html.PartialAsync("_SaveForm", Model.Role)
        </div>
    </div>
</div>

<div class="grid-50 tablet-grid-50 mobile-grid-100">
    <div class="block">
        <div class="block-header">
            <h4>Operators</h4>
        </div>
        <div class="block-content has-table">
            @await Html.PartialAsync("_Operators", Model.Operators)
        </div>
    </div>
</div>

<div class="grid-100 tablet-grid-100 mobile-grid-100">
    <div class="block">
        <div class="block-header">
            <h4>Permissions</h4>
        </div>
        <div class="block-content has-table">
            @await Html.PartialAsync("_UpdatePermissions", Model)
        </div>
    </div>
</div>
@section scripts{

}
