@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

</div>

<div class="row">
    <h2>Welcome to TaskMask !!!</h2>
</div>
