@using TaskoMask.Application.Core.Dtos.Workspace.Boards

@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-12 ">
        <NavLink href="#">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <small>@item.Description</small>
                    <hr />
                    <small>
                        <i class="bi bi-kanban"></i>: ProjectName
                    </small>
                </div>
            </div>
        </NavLink>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<BoardBasicInfoDto> Model { get; set; }
}
