@using TaskoMask.BuildingBlocks.Contracts.Dtos.Comments
@using TaskoMask.BuildingBlocks.Contracts.Enums
@inject CommentApiService CommentApiService

<EditForm Model="CommentModel" OnValidSubmit="HandleAddComment" class="form">
    <DataAnnotationsValidator />
    <input type="hidden" @bind="CommentModel.TaskId" />

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">

                <InputText @bind-Value="CommentModel.Content" class="form-control" placeholder="add a comment"></InputText>

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">add</button>
                </span>
            </div>
        </div>
    </div>
</EditForm>


@code {

    #region Fields and Parameters


    [Parameter]
    public string TaskId { get; set; }


    AddCommentDto CommentModel = new AddCommentDto();



    #endregion Fields and Parameters



    #region Protected Methods

    protected override Task OnInitializedAsync()
    {
        CommentModel.TaskId = TaskId;

        return base.OnInitializedAsync();
    }


    #endregion Protected Methods


    #region private Methods




    /// <summary>
    /// 
    /// </summary>
    private async Task HandleAddComment()
    {
        var result = await CommentApiService.AddAsync(CommentModel);
        if (result.IsSuccess)
            CommentModel.Content = "";

        CommandResultHandler.Init()
            .WithResult(result)
            .WithComponentMessageType(MessageType.Comment_Added)
            .ShowErrorToast(ToastService)
            .PublishMessage(ComponentMessageService);
    }



    #endregion private Methods

}
