@using TaskoMask.BuildingBlocks.Contracts.Dtos.Comments
@inject CommentApiService CommentApiService

<EditForm Model="CommentModel" OnValidSubmit="HandleUpdateComment">

    <input type="hidden" @bind="CommentModel.TaskId" />

    <DataAnnotationsValidator />

    <div class="form-group">
        <InputTextArea @bind-Value="CommentModel.Content" placeholder="leave your comment here" class="form-control" rows="8"></InputTextArea>
        <ValidationMessage For="()=>CommentModel.Content" class="text-danger"></ValidationMessage>
    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-primary float-left">Update</button>
            <button @onclick="HandleDeleteComment" class="btn btn-danger text-white float-right">Delete</button>
    </div>

</EditForm>

@code {


    #region Fields and Parameters



    /// <summary>
    /// Get the comment to update by its Id
    /// </summary>
    [Parameter]
    public string Id { get; set; }



    /// <summary>
    /// Form Model
    /// </summary>
    UpdateCommentDto CommentModel = new UpdateCommentDto();



    /// <summary>
    /// Access to current modal
    /// </summary>
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }




    #endregion Fields and Parameters



    #region Protected Methods


    /// <summary>
    ///
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await PrepareModelToUpdate();

    }


    #endregion Protected Methods


    #region private Methods



    /// <summary>
    /// Prepare the form model
    /// </summary>
    private async Task PrepareModelToUpdate()
    {

        var commentResult = await CommentApiService.GetAsync(Id);

        if (commentResult.IsSuccess)
        {
            CommentModel = new UpdateCommentDto
                {
                    Id = commentResult.Value.Id,
                    Content = commentResult.Value.Content,
                    TaskId = commentResult.Value.TaskId,
                };
        }
        else
        {
            QueryResultHandler<GetCommentDto>.Init()
                .WithResult(commentResult)
                .ShowErrorToast(ToastService)
                .CloseModal(ModalInstance);
        }
    }



    /// <summary>
    /// handle update model
    /// </summary>
    private async Task HandleUpdateComment()
    {
        var result = await CommentApiService.UpdateAsync(Id, CommentModel);
        CommandResultHandler.Init()
            .WithResult(result)
            .WithComponentMessageType(MessageType.Comment_Updated)
            .ShowErrorToast(ToastService)
            .PublishMessage(ComponentMessageService)
            .CloseModal(ModalInstance);
    }



    /// <summary>
    /// handle delete item
    /// </summary>
    private async Task HandleDeleteComment()
    {
        var confirmationModal = ModalService.Show<Confirmation>("Deletion Warning!", new ModalOptions { Class="blazored-modal w-75 w-md-50 bg-light-gray"});
        var confirmationModalResult = await confirmationModal.Result;

        if (confirmationModalResult.Cancelled)
            return;

        var result = await CommentApiService.DeleteAsync(Id);
        CommandResultHandler.Init()
            .WithResult(result)
            .WithComponentMessageType(MessageType.Comment_Deleted)
            .ShowErrorToast(ToastService)
            .PublishMessage(ComponentMessageService)
            .CloseModal(ModalInstance);
    }



    #endregion private Methods

}