@using TaskoMask.BuildingBlocks.Contracts.Dtos.Activities

<div class="list-group task-list-group mb-3">
    <div class="list-group-item task-list-group-header">
        <strong>
            <i class="bi bi-list-task"></i>
            Activities
        </strong>
    </div>
    @foreach (var item in Model)
    {
        <div class="list-group-item task-list-group-item">
            <small>
                @item.Description at <span class="text-muted badge bg-light-gray"> @item.CreationTime.CreateDateTimeString</span>
            </small>
        </div>
    }

</div>

@code {
    [Parameter]
    public IEnumerable<GetTaskActivityDto> Model { get; set; }

}
