@using TaskoMask.BuildingBlocks.Contracts.Dtos.Tasks

<div class="list-group task-list-group mb-3">
    <div class="list-group-item task-list-group-header">
        <strong>
            <i class="bi bi-list-task"></i>
            Task State
        </strong>
    </div>
    <div class="list-group-item task-list-group-item">
        <Move TaskId=@Model.Id CardId=@Model.CardId BoardId=@Model.BoardId></Move>
    </div>
</div>

@code {

    [Parameter]
    public GetTaskDto Model { get; set; }


}
