@page "/"
@inject TaskoMask.Presentation.Framework.Share.Contracts.IOrganizationClientService OrganizationClientService
@implements IDisposable

@if (!Model.OrganizationsDetailsList.Any())
{
    <div class="alert alert-warning">
        You are not member of any organization!
        <br />
        Maybe you want to
        <a @onclick="@(() => ModalService.Show<Pages.Organizations.Upsert>("Create new organization",new ModalOptions{DisableBackgroundCancel=true}))" class="text-info">create one</a>
    </div>
}
else
{
    <div class="container py-3">
        <div class="row">
            <Organizations Model="@Model.OrganizationsDetailsList" />
        </div>
    </div>
}


@code {

    PanelDashboardViewModel Model;



    /// <summary>
    /// /
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        //subscribe to OnMessage event. It is used when another components need to send a message to this component
        MessageService.OnMessage += ReloadDataHandler;

        await LoadDataAsync();
    }



    /// <summary>
    /// /
    /// </summary>
    private async Task LoadDataAsync()
    {
        Model = new PanelDashboardViewModel();

        var organizationsDetailsListResult = await OrganizationClientService.Get();
        if (!organizationsDetailsListResult.IsSuccess)
            ToastService.ShowError(organizationsDetailsListResult.Errors.ParseToHtml(), organizationsDetailsListResult.Message);

        Model.OrganizationsDetailsList = organizationsDetailsListResult.Value;
    }



    /// <summary>
    ///
    /// </summary>
    private async Task ReloadDataHandler(MessageType messageType)
    {
        if (messageType == MessageType.Organization_Created || messageType == MessageType.Organization_Updated)
        {
            await LoadDataAsync();
            StateHasChanged();
        }
    }




    /// <summary>
    ///
    /// </summary>
    public void Dispose()
    {
        // unsubscribe from OnMessage event
        MessageService.OnMessage -= ReloadDataHandler;
    }
}