@page "/"
@using TaskoMask.Application.Share.ViewModels

@if (!Model.OrganizationsDetailsList.Any())
{
    <div class="alert alert-warning">
        You are not member of any organization!
        <br />
        Maybe you want to <a href="/organizations/create">create one</a>
    </div>
}
else
{
    <div class="container py-3">
        <div class="row">
            <Organizations Model="@Model.OrganizationsDetailsList" />
        </div>

    </div>
}


@code{

    private PanelDashboardViewModel Model;

    protected override System.Threading.Tasks.Task OnInitializedAsync()
    {
        Model = new PanelDashboardViewModel();
        return base.OnInitializedAsync();
    }
}