@using TaskoMask.Application.Share.Dtos.Workspace.Organizations
@inject TaskoMask.Presentation.Framework.Share.Contracts.IOrganizationClientService OrganizationClientService

<EditForm Model="OrganizationModel" OnValidSubmit="HandleUpsert">

    <DataAnnotationsValidator />

    <div class="form-group">
        <InputText @bind-Value="OrganizationModel.Name" placeholder="Name" class="form-control"></InputText>
        <ValidationMessage For="()=>OrganizationModel.Name" class="text-danger"></ValidationMessage>
    </div>
    <div class="form-group">
        <InputText @bind-Value="OrganizationModel.Description" placeholder="Description" class="form-control"></InputText>
        <ValidationMessage For="()=>OrganizationModel.Description" class="text-danger"></ValidationMessage>
    </div>

    <div class="form-group">
        @if (isUpdate)
        {
            <button type="submit" class="btn btn-primary mr-1">Update</button>
            <a @onclick="HandleDelete" class="btn btn-danger text-white mr-1">Delete</a>
        }
        else
        {
            <button type="submit" class="btn btn-primary mr-1">Create</button>
        }
        <a @onclick="@(()=>ModalInstance.CancelAsync())" class="btn btn-warning text-white mr-1">Cancel</a>
    </div>

</EditForm>

@code {

    #region Fields and Parameters



    /// <summary>
    /// Get an organization to update by its Id
    /// </summary>
    [Parameter]
    public string Id { get; set; }



    /// <summary>
    /// Form Model
    /// </summary>
    OrganizationUpsertDto OrganizationModel = new OrganizationUpsertDto();



    /// <summary>
    /// Access to current modal
    /// </summary>
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }



    /// <summary>
    /// To specify form role (create or update)
    /// </summary>
    bool isUpdate = false;



    #endregion Fields and Parameters


    #region Protected Methods


    /// <summary>
    ///
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        //if Id has value so we need to handle update
        if (!string.IsNullOrEmpty(Id))
            await PrepareModelToUpdate();
    }


    #endregion Protected Methods



    #region private Methods



    /// <summary>
    /// Get model by Id from API
    /// </summary>
    private async Task PrepareModelToUpdate()
    {
        isUpdate = true;

        var organizationResult = await OrganizationClientService.Get(Id);

        if (organizationResult.IsSuccess)
        {
            OrganizationModel = new OrganizationUpsertDto
                {
                    Id = organizationResult.Value.Id,
                    Name = organizationResult.Value.Name,
                    Description = organizationResult.Value.Description,
                };

        }
        else
        {
            QueryResultHandler<OrganizationBasicInfoDto>.Init()
                .WithResult(organizationResult)
                .ShowErrorToast(ToastService)
                .CloseModal(ModalInstance);
        }
    }



    /// <summary>
    /// Handle form role
    /// </summary>
    private async Task HandleUpsert()
    {
        if (isUpdate)
            await HandleUpdate();
        else
            await HandleCreate();
    }



    /// <summary>
    /// handle create model 
    /// </summary>
    private async Task HandleCreate()
    {
        var result = await OrganizationClientService.Create(OrganizationModel);
        CommandResultHandler.Init()
            .WithResult(result)
            .WithMessageType(MessageType.Organization_Created)
            .ShowErrorToast(ToastService)
            .PublishMessage(MessageService);
    }



    /// <summary>
    /// handle update model 
    /// </summary>
    private async Task HandleUpdate()
    {
        var result = await OrganizationClientService.Update(Id,OrganizationModel);
        CommandResultHandler.Init()
            .WithResult(result)
            .WithMessageType(MessageType.Organization_Updated)
            .ShowErrorToast(ToastService)
            .PublishMessage(MessageService);
    }



    /// <summary>
    /// handle delete item 
    /// </summary>
    private async Task HandleDelete()
    {
        var confirmationModal = ModalService.Show<Confirmation>("Deletion warning!");
        var confirmationModalResult = await confirmationModal.Result;

        if (confirmationModalResult.Cancelled)
            return;

        var result = await OrganizationClientService.Delete(Id);
               CommandResultHandler.Init()
            .WithResult(result)
            .WithMessageType(MessageType.Organization_Deleted)
            .ShowErrorToast(ToastService)
            .PublishMessage(MessageService);
    }


    #endregion private Methods

}