@model IEnumerable<TaskoMask.Application.Share.Dtos.Membership.Roles.RoleOutputDto>

@{
    ViewBag.Title = "Roles List";
}

<div class="grid-content">
    <div class="block">
        <div class="block-bar">
            <div class="form">
                <a href="@Url.Action("Create", "Roles", new { })" class="btn btn-success">New Role</a>
            </div>
        </div>
        <div id="ajax-show-list">
            @await Html.PartialAsync("_ItemList", Model)
        </div>
    </div>
</div>


@section scripts{

}