@using TaskoMask.Application.Share.Dtos.Workspace.Projects
@inject TaskoMask.Presentation.Framework.Share.Contracts.IProjectClientService ProjectClientService
@inject TaskoMask.Presentation.Framework.Share.Contracts.IOrganizationClientService OrganizationClientService

<EditForm Model="ProjectModel" OnValidSubmit="HandleUpdate">

    <DataAnnotationsValidator />

    <div class="form-group">
        <InputText @bind-Value="ProjectModel.Name" placeholder="Name" class="form-control"></InputText>
        <ValidationMessage For="()=>ProjectModel.Name" class="text-danger"></ValidationMessage>
    </div>

    <div class="form-group">
        <select @bind="ProjectModel.OrganizationId" class="form-control">
            @foreach (var prop in organizationsSelectList)
            {
                        <option value="@prop.Value" selected="@(prop.Value==ProjectModel.OrganizationId?true:false)">@prop.Text</option>
            }
        </select>
        <ValidationMessage For="()=>ProjectModel.OrganizationId" class="text-danger"></ValidationMessage>
    </div>

    <div class="form-group">
        <InputText @bind-Value="ProjectModel.Description" placeholder="Description" class="form-control"></InputText>
        <ValidationMessage For="()=>ProjectModel.Description" class="text-danger"></ValidationMessage>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary mr-1">Update</button>
        <a @onclick="HandleDelete" class="btn btn-danger text-white mr-1">Delete</a>
        <a @onclick="@(()=>ModalInstance.CancelAsync())" class="btn btn-warning text-white mr-1">Cancel</a>
    </div>

</EditForm>

@code {


    #region Fields and Parameters



    /// <summary>
    /// Get the project to update by its Id
    /// </summary>
    [Parameter]
    public string Id { get; set; }



    /// <summary>
    /// organaizations list to use in DropDownList
    /// </summary>
    IEnumerable<SelectListItem> organizationsSelectList = new List<SelectListItem>();



    /// <summary>
    /// Form Model
    /// </summary>
    ProjectUpsertDto ProjectModel = new ProjectUpsertDto();



    /// <summary>
    /// Access to current modal
    /// </summary>
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }




    #endregion Fields and Parameters



    #region Protected Methods


    /// <summary>
    ///
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await GetOrganizations();
        await PrepareModelToUpdate();
    }


    #endregion Protected Methods


    #region private Methods



    /// <summary>
    /// Get model by Id from API
    /// </summary>
    private async Task PrepareModelToUpdate()
    {
  
        var projectResult = await ProjectClientService.Get(Id);

        if (projectResult.IsSuccess)
        {
            ProjectModel = new ProjectUpsertDto
                {
                    Id = projectResult.Value.Id,
                    Name = projectResult.Value.Name,
                    Description = projectResult.Value.Description,
                    OrganizationId = projectResult.Value.OrganizationId,
                };
        }
        else
        {
            //close the modal window
            ModalInstance.CloseAsync();
            ToastService.ShowError(projectResult.Errors.ParseToFragment(), projectResult.Message);
        }
    }



    /// <summary>
    /// get organization select list to use in DropDownList
    /// </summary>
    private async Task GetOrganizations()
    {
        var organizationsResult = await OrganizationClientService.GetSelectListItems();
        if (!organizationsResult.IsSuccess)
        {
            //close the modal window
            ModalInstance.CloseAsync();
            ToastService.ShowError(organizationsResult.Errors.ParseToFragment(), organizationsResult.Message);
        }
        else if (organizationsResult.Value.Any())
        {
            organizationsSelectList = organizationsResult.Value;
        }

    }



    /// <summary>
    /// handle update model
    /// </summary>
    private async Task HandleUpdate()
    {
        var result = await ProjectClientService.Update(Id, ProjectModel);
        DataServiceHandler.Handle(result, ToastService, MessageService, MessageType.Project_Updated, ModalInstance);
    }



    /// <summary>
    /// handle delete item
    /// </summary>
    private async Task HandleDelete()
    {
        var confirmationModal = ModalService.Show<Confirmation>("Deletion warning!");
        var confirmationModalResult = await confirmationModal.Result;

        if (confirmationModalResult.Cancelled)
            return;

        var result = await ProjectClientService.Delete(Id);
        DataServiceHandler.Handle(result, ToastService, MessageService, MessageType.Project_Deleted, ModalInstance);
    }



    #endregion private Methods

}