<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <title>TaskoMask:@ViewBag.Title</title>
    <link href="~/content/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/site/css/site.css" rel="stylesheet" />
</head>

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">TaskoMask</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="@Url.Action(action: "index",controller:"home")">Home</a>
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Contact</a>
                    @await Html.PartialAsync("_LoginPartial")
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            @RenderBody()
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Developed by <a href="https://github.com/hamed-shirbandi" target="_blank">Hamed Shirbandi</a>. Find the source on  <a href="https://github.com/hamed-shirbandi/TaskoMask" target="_blank">GitHub</a></p>
            </div>
        </footer>

    </div>

    <script src="~/content/public/js/jquery.min.js"></script>
    <script src="~/content/public/js/popper.min.js"></script>
    <script src="~/content/public/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
