@using Microsoft.AspNetCore.Identity
@inject SignInManager<TaskoMask.Domain.Models.User> SignInManager
@inject UserManager<TaskoMask.Domain.Models.User> UserManager
@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav navbar-right">
    <li>
    <a href="@Url.Action(action: "index",controller:"dashboard",values:new {})">Dashboard</a>
    </li>

    <li>
        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
