@using Microsoft.AspNetCore.Identity
@inject SignInManager<TaskoMask.Domain.Models.User> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link" href="@Url.Action(action: "index",controller:"dashboard",values:new {Area="admin"})">Dashboard</a>
    <a class="nav-link" href="@Url.Action(action: "logout",controller:"account")">Logout</a>
}
else
{
<a class="nav-link" href="@Url.Action(action: "register",controller:"account")">Register</a>
<a class="nav-link" href="@Url.Action(action: "login",controller:"account")">Login</a>
}
