@using TaskoMask.Application.Share.Dtos.Workspace.Projects

@if (!Model.Any())
{
    <div class="alert alert-warning">
        <b>There isn't any member yet!</b>
        <hr>
        <small>
            You can add new project by using
            <b>
                <a @onclick="@(() => ModalService.Show<Pages.Projects.Components.Upsert>("Create new project",new ModalOptions{DisableBackgroundCancel=true}))" class="text-info">
                    <i class="bi bi-kanban"></i>
                    New Project
                </a>
            </b>
            item from the top right menue
            <i class="bi bi bi-plus-circle"></i>
        </small>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-12 ">
            <NavLink href="#">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Name
                            <a @onclick="@(()=>ShowUpdsertModal(item.Id))" class="text-warning" title="Edit">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </h5>
                        <hr />
                        <small>@item.Description</small>
                    </div>
                </div>
            </NavLink>
        </div>
    }
}



@code {
    [Parameter]
    public IEnumerable<ProjectBasicInfoDto> Model { get; set; }




    /// <summary>
    ///
    /// </summary>
    private void ShowUpdsertModal(string projectId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Projects.Components.Upsert.Id), projectId);
        ModalService.Show<Pages.Projects.Components.Upsert>("Update project", parameters, new ModalOptions { DisableBackgroundCancel = true });
    }
}
