@using TaskoMask.Application.Share.Dtos.Workspace.Tasks


@if (!Model.Any())
{
    <div class="alert alert-warning">
        There isn't any task yet!
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-md-12 col-sm-12 ">
            <NavLink href="#">
                <div class="card bg-warning text-dark">
                    <div class="card-body">
                        <strong>
                            <i class="bi bi-list-task"></i>
                            @item.Title
                        </strong>
                        <hr />
                        <small class="btn btn-outline-dark">
                            <i class="bi bi-clipboard-plus"></i>
                            test board
                        </small>
                        <small class="btn btn-outline-dark">
                            <i class="bi bi-kanban"></i>
                            test project
                        </small>
                        <small class="btn btn-outline-dark">
                            <i class="bi bi-calendar-date"></i>
                            @item.CreationTime.CreateDateTimeString
                        </small>
                        <small class="btn btn-outline-dark">
                            <i class="bi bi-people"></i>
                            hamed shirbandi
                        </small>
                        <small class="btn btn-outline-dark">
                            <i class="bi bi-clipboard-x"></i>
                            to do card
                        </small>
                    </div>
                </div>
            </NavLink>
        </div>
    }

}



@code {
    [Parameter]
    public IEnumerable<TaskBasicInfoDto> Model { get; set; }
}
