@using TaskoMask.Application.Share.Dtos.Workspace.Tasks


@if (!Model.Any())
{
    <div class="alert alert-warning">
        <b>There isn't any task yet!</b>
        <hr>
        <small>Make sure you have a board then go to the boards tab, open it and create your tasks</small>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-6">
            <NavLink href="@($"/board/{item.BoardId}")">
                <div class="card bg-warning text-dark">
                    <div class="card-body">
                        <i class="bi bi-list-task"></i>
                        @item.Title
                    </div>
                </div>
            </NavLink>
        </div>
    }

}



@code {
    [Parameter]
    public IEnumerable<TaskBasicInfoDto> Model { get; set; }
}
