@using TaskoMask.Application.Share.Dtos.Workspace.Tasks


@if (Model.Any())
{
    foreach (var item in Model)
    {
    <div class="col-md-6 col-sm-12 col-12 p-2">
            <a href="@($"/board/{item.BoardId}/task/{item.Id}")">
                <div class="card bg-warning text-dark">
                    <div class="card-body p-3 mh overflow-hidden">
                        @item.Title
                    </div>
                </div>
            </a>
        </div>
    }

}



@code {
    [Parameter]
    public IEnumerable<TaskBasicInfoDto> Model { get; set; }
}
