
@if (!Model.Projects.Any())
{
    <div class="alert alert-warning">
        There is'nt any project yet. 
        <a  @onclick="@(()=>ShowCreateProjectModal())" class="text-primary">add new project</a>
    </div>
}

@code {
    [Parameter]
    public OrganizationDetailsViewModel Model { get; set; }


    
    /// <summary>
    ///
    /// </summary>
    private void ShowCreateProjectModal( )
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Projects.Components.CreateProject.OrganizationId), Model.Organization.Id);
        ModalService.Show<Pages.Projects.Components.CreateProject>("New project", parameters, new ModalOptions {});
    }

}
