
<div class="bg-warning rounded p-5">
    <h1 class="text-center">Wellcome to TaskoMask!</h1>
    <hr />
    <p>
        To better categorize your tasks, you need to define an Organization with some Projects.
        Each project can have some Boards, then you can define some Cards and manage your Tasks.
    </p>

    <div id="accordion" class="text-dark">
        <div class="card bg-warning">
            <div class="card-header p-0" id="headingOne">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>Example1</b> (language learner):
                </button>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        You are learning a new language and want to manage your tasks. So, you can create an organization named
                        <strong>Learning</strong> and a project named <strong>Persian Language</strong>. Then you can create three boards
                        named <strong>Listening</strong>, <strong>Speaking</strong> and <strong>Writing</strong>. Now you can add three cards
                        in each board named <strong>To Do Tasks</strong>, <strong>Doing Tasks</strong> and <strong>Done Tasks</strong>.
                    </p>
                </div>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-header p-0" id="headingTwo">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>Example2</b> (programmer):
                </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        As a programmer, you may work in a company and maybe work on some freelance projects on the side. So, create an Organization named <strong>Freelancing</strong> and then create new Projects for your freelance projects.
                        Each project can have some boards, for example, Backend board and Frontend board. Also, you can create an organization named <strong>Your Company Name</strong> and add the company projects that you are working on.
                        Then you can manage your tasks categorized by your freelance projects and company projects and separate tasks in some related boards.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <hr />
    <p class="align-content-center  text-center">
        <a class="btn btn-success text-white text-center" @onclick="@(() => ModalService.Show<Pages.Organizations.Components.CreateOrUpdateOrganization>("Create new organization",new ModalOptions{DisableBackgroundCancel=true}))">
            <i class="bi bi-building"></i>
            Ready to Start?
        </a>
    </p>
</div>
@code {

}
