@model TaskoMask.Application.Share.Dtos.Ownership.Operators.OperatorUpsertDto

@{
    ViewBag.Title = "Create new operator";
}

<div class="grid-50 tablet-grid-50 mobile-grid-100">
    <div class="block">
        <div class="block-content">
            @await Html.PartialAsync("_SaveForm", Model)
        </div>
    </div>
</div>


