@model TaskoMask.Application.Share.ViewModels.OperatorDetailsViewModel
@using TaskoMask.Application.Share.Dtos.Common.Users

@{
    ViewBag.Title = "Update operator";
}

<div class="grid-100 tablet-grid-100 mobile-grid-100">
    <div class="block">
        <div class="block-content no-pad">
            <ul class="tabs">
                <li class="tab"><a href="#tab-1" class="active">Basic Info</a></li>
                <li class="tab"><a href="#tab-2" class="">Change Password</a></li>
                <li class="tab"><a href="#tab-3" class="">Reset Password</a></li>
                <li class="tab"><a href="#tab-4" class="">Account Setting</a></li>
                <li class="tab"><a href="#tab-5" class="">Roles</a></li>
            </ul>
        </div>

        <div id="tab-1">
            <div class="block-content">
                @await Html.PartialAsync("_SaveForm", Model.Operator)
            </div>
        </div>
        <div id="tab-2">
            <div class="block-content">
                @await Html.PartialAsync("_ChangePassword", new UserChangePasswordDto { Id = Model.Operator.Id })
            </div>
        </div>
        <div id="tab-3">
            <div class="block-content">
                @await Html.PartialAsync("_ResetPassword", new UserResetPasswordDto { Id = Model.Operator.Id })
            </div>
        </div>
        <div id="tab-4">
            <div class="block-content">
                @await Html.PartialAsync("_SetUserIsActive", new TaskoMask.Presentation.UI.AdminPanle.Models.SetUserActiveViewModel(id: Model.Operator.Id, isActive: Model.Operator.IsActive))
            </div>
        </div>

        <div id="tab-5"> 
            <div class="block-content  has-table">
                @await Html.PartialAsync("_UpdateRoles", Model)
            </div>
        </div>
    </div>
</div>






@section scripts{

}
