@page "/register"
@model TaskoMask.Presentation.UI.UserPanel.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3 class=" py-2 ">Login to TaskoMask!</h3>
                    <div class="px-2">
                        <form method="post">
                            <partial name="_ServerValidationSummary" />

                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <input asp-for="Input.DisplayName" class="form-control" placeholder="DisplayName" />
                                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button id="registerBtn" type="submit" class="btn btn-success">Register</button>
                                <a id="loginBtn" class="btn btn-outline-primary" href="/login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
