@model TaskoMask.Application.Core.Dtos.Boards.BoardInput

@{
    ViewData["Title"] = "Create";
}


<h4>Create Board</h4>
<hr />

@await Html.PartialAsync("_SaveForm", Model)




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
