@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <a class="navbar-brand btn btn-outline-light text-dark-hover" href="@websiteUrl">TaskoMask</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="m-1 btn btn-sm btn-info" href="@websiteUrl">
                    <i class="bi bi-house-fill" title="Home"></i>
                </a>

            </li>
            <li class="nav-item">
                <NavLink class="m-1 btn btn-sm btn-success" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-speedometer" title="dashboard"></i>
                </NavLink>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <div class="dropdown show">

                <a class="btn btn-secondary btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <NavLink class="dropdown-item" href="organizations/create">
                        <i class="bi bi-building"></i>
                        New Organization
                    </NavLink>

                    <NavLink class="dropdown-item" href="projects/create">
                        <i class="bi bi-kanban"></i>
                        New Project
                    </NavLink>

                    <NavLink class="dropdown-item" href="boards/create">
                        <i class="bi bi-clipboard-plus"></i>
                        New Board
                    </NavLink>

                    <NavLink class="dropdown-item" href="members/add">
                        <i class="bi bi-people"></i>
                        Add Member
                    </NavLink>
                </div>
            </div>

            <NavLink class="m-1 btn btn-sm btn-warning my-2 my-sm-0" href="user/profile">
                <i class="bi bi-person-circle"></i>
            </NavLink>

            <NavLink class="m-1 btn btn-sm btn-danger my-2 my-sm-0" href="account/logout">
                <i class="bi bi-power"></i>
            </NavLink>

        </div>
    </div>
</nav>

@code{
    string websiteUrl = "#";
    protected override async Task OnInitializedAsync()
    {
        websiteUrl = Configuration["Url:Website"];
        await base.OnInitializedAsync();
    }
}