@using TaskoMask.Application.Share.Dtos.Workspace.Activities

<div class="list-group">
    <div class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Activities
        </strong>
    </div>
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            <small>
                @item.Description at @item.CreationTime.CreateDateTimeString
            </small>
        </div>
    }

</div>

@code {
    [Parameter]
    public IEnumerable<ActivityBasicInfoDto> Model { get; set; }

}
