
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Activities
        </strong>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>
            created at 20/02/2022 by hamed
        </small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>
            moved to Doing Card at 20/02/2022 by hamed
        </small>
    </a>
</div>

@code {

}
