
<div class="list-group">
    <div class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Activities
        </strong>
    </div>
    <div class="list-group-item list-group-item-action">
        <small>
            created at ...
        </small>
    </div>
    <div class="list-group-item list-group-item-action">
        <small>
            moved to ...
        </small>
    </div>
</div>

@code {

}
