@using TaskoMask.Application.Share.Dtos.Workspace.Comments
@using TaskoMask.Presentation.UI.UserPanel.Pages.Comments.Components

<div class="list-group">
    <div class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Comments
        </strong>
        <a @onclick="@(()=>ShowCreateCommentModal())" class="float-right small text-info" title="add task">
            <i class="bi bi-plus-circle"></i> add a comment
        </a>
    </div>
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            <small>
                @item.Content
                <br />
                @item.CreationTime.CreateDateTimeString
            </small>
        </div>
    }

    <CreateOrUpdateComment TaskId=@TaskId></CreateOrUpdateComment>


</div>


@code {
    [Parameter]
    public IEnumerable<CommentBasicInfoDto> Model { get; set; }

    [Parameter]
    public string TaskId { get; set; }





    /// <summary>
    ///
    /// </summary>
    private void ShowCreateCommentModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Comments.Components.CreateComment.TaskId), TaskId);
        ModalService.Show<Pages.Comments.Components.CreateComment>("Create Comment", parameters, new ModalOptions { });
    }

}
