
<div class="list-group">
    <div class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Comments
        </strong>

    </div>
    <div class="list-group-item list-group-item-action">
        <small>
            this is a test comment 1
        </small>
    </div>
    <div class="list-group-item list-group-item-action">
        <small>
            this is a test comment 2
        </small>
    </div>
</div>

@code {

}
