@using TaskoMask.Application.Share.Dtos.Workspace.Comments

<div class="list-group">
    <div class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Comments
        </strong>
    </div>
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            <small>
                @item.Content
                <br />
                @item.CreationTime.CreateDateTimeString
            </small>
        </div>
    }

</div>


@code {
    [Parameter]
    public IEnumerable<CommentBasicInfoDto> Model { get; set; }

}
