@using TaskoMask.Presentation.UI.UserPanel.Pages.Tasks.Components
@inject TaskoMask.Presentation.Framework.Share.Contracts.ITaskClientService TaskClientService
@implements IDisposable


@if (Model == null)
{
    <div class="spinner-loading"></div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <BasicInfo Model=@Model.Task></BasicInfo>
            <Comments Model=@Model.Comments TaskId=@TaskId></Comments>
        </div>
        <hr />
        <div class="col-md-4">
            <State Model=@Model.Task></State>
            <Activities Model=@Model.Activities></Activities>
        </div>
    </div>
}
@code {

    [Parameter]
    public string TaskId { get; set; }

    TaskDetailsViewModel Model;

    /// <summary>
    /// Access to current modal
    /// </summary>
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }



    /// <summary>
    ///
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        MessageService.OnMessage += ReloadDataHandler;

        await GetTaskDetails();
    }



    /// <summary>
    ///
    /// </summary>
    private async Task GetTaskDetails()
    {
        var taskResult = await TaskClientService.GetDetails(TaskId);
        if (taskResult.IsSuccess)
            Model = taskResult.Value;
        else
        {
            QueryResultHandler<TaskDetailsViewModel>.Init()
            .WithResult(taskResult)
            .ShowErrorToast(ToastService)
            .CloseModal(ModalInstance);
        }
    }




    /// <summary>
    ///This is a handler to be notified when some interesting events happened
    ///For example we like to reload data for this component when new organization created by Organizations.Components.CreateOrUpdateOrganization component
    /// </summary>
    private async void ReloadDataHandler(MessageType messageType)
    {
        try
        {
            if (messageType == MessageType.Task_Updated || messageType == MessageType.Task_Moved || messageType == MessageType.Comment_Created || messageType == MessageType.Comment_Updated|| messageType == MessageType.Comment_Deleted)
            {
                await GetTaskDetails();
                StateHasChanged();
            }
        }
        catch
        {
            //Async task failure because of async void challenges
        }
    }



    /// <summary>
    ///
    /// </summary>
    public void Dispose()
    {
        // unsubscribe from OnMessage event
        MessageService.OnMessage -= ReloadDataHandler;
    }


}
