@inject TaskoMask.Presentation.Framework.Share.Contracts.ICardClientService CardClientService
@inject TaskoMask.Presentation.Framework.Share.Contracts.ITaskClientService TaskClientService

@if (!cardsSelectList.Any())
{
    <div class="spinner-loading"></div>
}
else
{
    <div class="form-group">
        <select class="form-control" @bind="CardId">
            @foreach (var prop in cardsSelectList)
            {
                <option value="@prop.Value" selected="@(prop.Value==CardId?true:false)">@prop.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <button type="button" @onclick="HandleMoveTaskToAnotherCard" class="btn btn-block btn-primary mr-1">Move To Card</button>
    </div>
}





@code {

    [Parameter]
    public string TaskId { get; set; }

    [Parameter]
    public string BoardId { get; set; }

    [Parameter]
    public string CardId { get; set; }


    /// <summary>
    /// cards list to use in DropDownList
    /// </summary>
    IEnumerable<SelectListItem> cardsSelectList = new List<SelectListItem>();



    protected override async Task OnInitializedAsync()
    {
        await GetCardsSelectList();
    }





    /// <summary>
    /// get cards select list to use in DropDownList
    /// </summary>
    private async Task GetCardsSelectList()
    {
        var cardsResult = await CardClientService.GetSelectListItems(BoardId);
        if (cardsResult.IsSuccess)
            cardsSelectList = cardsResult.Value;
        else
            ToastService.ShowError(cardsResult.Errors.ParseToFragment(), cardsResult.Message);
    }


    /// <summary>
    ///
    /// </summary>
    private async Task HandleMoveTaskToAnotherCard()
    {
        var result = await TaskClientService.MoveTaskToAnotherCard(TaskId, CardId);
        CommandResultHandler.Init()
            .WithResult(result)
            .WithMessageType(MessageType.Task_Moved)
            .ShowErrorToast(ToastService)
            .PublishMessage(MessageService);
    }


}
