
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <strong>
            <i class="bi bi-list-task"></i>
            Task State
        </strong>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>
            Doing Card
        </small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <small>
            Hamed Shirbandi
        </small>
    </a>
</div>

@code {

}
