@page "/login"

<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3 class=" py-2 ">Login to TaskoMask!</h3>
                    <div class="px-2">
                        <form action="" class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" class="form-control" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" class="form-control" placeholder="jane.doe@example.com">
                            </div>
                            <div class="form-group">
                                <a href="#">Forget Password</a>
                            </div>
                         
                            <button type="submit" class="btn btn-primary btn-lg">login</button>
                           <NavLink class="btn btn-secondary btn-lg" href="/register">
                               Register
                           </NavLink>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
