@using TaskoMask.BuildingBlocks.Contracts.Dtos.Organizations

<ul class="nav nav-tabs small justify-content-start p-1" role="tablist" style="flex-wrap: nowrap !important; overflow-x: auto !important; overflow-y: auto !important;">
    <li class="text-nowrap nav-item d-block">
        <a class="nav-link active" data-toggle="tab" href="#boards-@Model.Id" role="tab">
            <i class="bi bi-list-task"></i>
           Boards
        </a>
    </li>
    <li class="text-nowrap nav-item d-block">
        <a class="nav-link" data-toggle="tab" href="#projects-@Model.Id" role="tab">
            <i class="bi bi-kanban"></i>
            Projects
        </a>
    </li>

    <li class="text-nowrap nav-item d-block">
        <a class="nav-link" data-toggle="tab" href="#reports-@Model.Id" role="tab">
            <i class="bi bi-pie-chart"></i>
            Reports
        </a>
    </li>
</ul>

@code {
    [Parameter]
    public GetOrganizationDto Model { get; set; }
}
