@model TaskoMask.Application.Services.Organizations.Dto.OrganizationInput

@{
    ViewData["Title"] = "Create";
}


<h4>Create Organization</h4>
<hr />

@await Html.PartialAsync("_SaveForm",Model)




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
