@model TaskoMask.Application.Services.Organizations.Dto.OrganizationInput

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>OrganizationInput</h4>
<hr />
<div class="row">
    @await Component.InvokeAsync(nameof(DomainValidationSummary))

    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
