
@{
    ViewBag.Title = "Create new permission";
}

<div class="grid-content">
    <div class="grid-50 tablet-grid-50 mobile-grid-100">
        <div class="block">
            <div class="block-content">
                @await Html.PartialAsync("_SaveForm")
            </div>
        </div>
    </div>
</div>


@section scripts{

}
